<div class="container">
  <form class="" action="/users" method="post">
    <div class="">
      <label for="username">Username</label>
      <input type="text" name="user[username]" value="" id="username">
    </div>

    <div class="">
      <label for="email">Email</label>
      <input type="email" name="user[email]"  value="" id='email'>
    </div>
    <div class="">
      <label for="password">Passorwd</label>
      <input type="password" name="user[password]"  value="" id='password'>
    </div>

    <input type="submit" name="" value="Create">
  </form>
</div>
