<div class="">
  <form class="" action="/books" method="post">
    <div class="">
      <label for="title">Title</label>
      <input type="text" name="book[title]" value="">
    </div>

    <input type="submit" name="" value="Create">
  </form>
</div>
